* {
    margin: 0px;
    padding: 0px;
}

body {
    background: grey;
    font-family: "Lora";
}

header {
    background: black;
    color: white;
    margin: 20px 40px;
    padding: 20px;
}

section {
    background: white;
    color: grey;
}

footer {
    background: black;
    color: white
}