* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgba(58, 58 58);
    color: white(106, 106, 106);
    font-family: "Lora";
}

header {
    background: black;
}

section {
    background: black;
}